/*---------------------------------------------------------
        =GLOBAL STYLE
-------------------------------------------------------- */
body {
  background: #000;
  color: #ddd;
  font-family: Arial;
  font-size: 0.7em;
}

#wrapper {
  margin: 0 auto;
  width: 1220px;
}

#multislides,
#multislides2 {
  display: none;
}

@media all and (max-width: 1219px) {
  #wrapper {
    width: 100%;
  }
}
/*---------------------------------------------------------
        =MULTISLIDES
-------------------------------------------------------- */
.pixo_multislides {
  height: 280px;
  position: relative;
  overflow: hidden;
}
.pixo_multislides a.multislides-nav-prev,
.pixo_multislides a.multislides-nav-next {
  background: url(../img/pixo_multislides_navigation.png) no-repeat;
  display: block;
  height: 30px;
  position: absolute;
  top: 125px;
  width: 25px;
  z-index: 2;
}
.pixo_multislides a.multislides-nav-prev {
  background-position: left;
  left: 0;
}
.pixo_multislides a.multislides-nav-next {
  background-position: right;
  right: 0;
}
.pixo_multislides ul {
  height: 280px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.pixo_multislides ul li {
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #373737;
  display: inline-block;
  height: 278px;
  margin: 0 2px;
  width: 23%;
}
.pixo_multislides ul li a {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 280px;
  width: 100%;
}
